/* in css you can change some same colors by just varying the global color */

:root{
    --color:rgb(145, 145, 214);
    --seccolor:red;
}

ul li{
    list-style: none;
padding:40px;
}


ul{
    display: flex;
}
nav{
    background-color: var(--color);
}